::-moz-selection {
               background: #b3d4fc;
               text-shadow: none;
           }

           ::selection {
               background: #b3d4fc;
               text-shadow: none;
           }

           html {
               padding: 30px 10px;
               font-size: 20px;
               line-height: 1.4;
               color: #737373;
               background: #0001AB;
               -webkit-text-size-adjust: 100%;
               -ms-text-size-adjust: 100%;
           }


           body {
               padding: 30px 20px 50px;
               border-radius: 4px;
               margin: 0 auto;
               background: #0001AB;
               font-family: Lucida, monospace;
           }

           h1 {
               margin: 0 10px;
               font-size: 50px;
               text-align: center;
               background-color: #FFF;
               color: #0001AB;
           }

           h1 span {
               color: #bbb;
           }

           h3 {
               margin: 1.5em 0 0.5em;
           }

           p {
               margin: 1em 0;
               color: #FFF;
           }

           ul {
               padding: 0 0 0 40px;
               margin: 1em 0;
               color: #FFF;
           }

           .container {
               max-width: 900px;
               _width: 900px;
               margin: 0 auto;
           }

           p a {
               color: orange;
               text-decoration: none;
               text-transform: uppercase;
           }
