body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0 auto;
    display: block;
    padding: 0;
    outline: 0;
    text-align: center;
}



#box {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0 auto;
    display: none;
    position: relative;
    padding: 0;
    outline: 0;
    text-align: center;
}

