.box {
  position: relative;
  margin: 3% auto 0 auto;
  display: block;
  width: 600px;
  height: 600px;
}

.robot-antenna {
  position: absolute;
  width: 3%;
  height: 12%;
  top: 2%;
  left: 22%;
  transform: rotate(-45deg);
}

.robot-antenna:nth-child(2) {
  right: 22%;
  left: auto;
  transform: rotate(45deg);
}

.robot-antenna-top {
  position: absolute;
  width: 100%;
  height: 25%;
  background: #DA5A5B;
  border-radius: 50%;
}

.robot-antenna-bottom {
  position: absolute;
  width: 30%;
  height: 80%;
  top: 20%;
  left: 35%;
  background: #B8D4EA;
}

.robot-head {
  position: absolute;
  width: 60%;
  height: 30%;
  left: 20%;
  background: #57ACD3;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
}

.robot-head-shadow,
.robot-body-bottom-shadow {
  display: inline-block;
  background-color: #62C4F3;
  height: 100%;
  width: 50%;
}

.robot-eye {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 45%;
  left: 25%;
  background: #FEFEFE;
  border-radius: 50%;
}

.robot-eye:nth-child(2) {
  right: 25%;
  left: auto;
}
